body{
    margin: 0;
    padding: 0;
}
.card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 427px;
    height: 640px;
    background: #000;
}
.card .poster{
    position: relative;
    overflow: hidden;
}
.card .poster img {
    width: 100%;
}